# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
remappedSrc/
*.cap
*.rdc

# aseprite files - this probably shouldn't be downloaded when users request assets
*.ase
*.aseprite

# paint.NET files - this probably shouldn't be downloaded when users request assets
*.pdn

# GIMP - this probably shouldn't be downloaded when users request assets
*.xcf

# Krita - this probably shouldn't be downloaded when users request assets
*.kra

# i forgor photoshop's filetype but if you're using photoshop to edit minecraft textures please seek a refund.


